{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block extrahead %}
	{% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<meta charset="utf-8">
	<title>{% block title %} Document {% endblock %}</title>
</head>
<body>
	{% block header %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="../inicio">Inicio</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopcion<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="add_adop">Registrar</a></li>
			            <li class="divider"></li>
			            <li><a href="list_adop">Listar</a></li>
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="add_ani">Agregar</a></li>
			            <li class="divider"></li>
			            <li><a href="list_ani">consultar/moficar/eliminar</a></li>
			          </ul>
			        </li>
		      	</ul>

		      	<ul class="nav navbar-nav">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="add_cli">Agregar</a></li>
			            <li class="divider"></li>
			            <li><a href="list_cli">consultar/moficar/eliminar</a></li>
			          </ul>
			        </li>
		      	</ul>
		    </div>
		  </div>
		</nav>
	{% endblock %}

	{% block content %}
		
	{% endblock %}

	{% block footer %}
		<footer class="footer">
			<h1>By Daniel Ureña y John Rodriguez</h1>
		</footer> 
	{% endblock %}


	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block extrajs %}
	{% endblock %}
</body>
</html>